<main class="main">
  <div class="inner">
    <div class="pet__wrapper">

       <p class="pet__hedding">
        <%=@pet.name %>
      </p>

      <div class="pet__image">
        <%= image_tag @pet.image %>
      </div>
      <% if user_signed_in? && current_user.id == @pet.user_id %>
        <div class="pet__manage">
          <%= link_to "編集する", edit_pet_path(@pet.id), class: :pet__btn %>
          <%= link_to "削除する", pet_path(@pet.id), method: :delete, class: :pet__btn %>
        </div>
      <% end %>

      <div class="pet__body">
        <div class="pet-profile">
          <%= link_to "Profile", root_path, class: :pet__btn %>
        </div>
        

        <div class="pet-health">
          <%= link_to "Health", root_path, class: :pet__btn %>
        </div>

        
        <div class="pet-care">
          <%= link_to "Care", root_path, class: :pet__btn %>
        </div>

         <div class="pet-grow">
          <%= link_to "Grow", root_path, class: :pet__btn %>
        </div>


         <div class="pet-diary">
          <%= link_to "Diary", diaries_path, class: :pet__btn %>
        </div>



        </div>
      </div>
    </div>
  </div>
</main>

